[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
chalice = "*"
bullet = "*"
pytest = "*"
pylint = "*"
flake8 = "*"
codecov = "*"
codacy-coverage = "*"
pytest-cov = "*"
pytest-sugar = "*"
mutmut = "*"

[packages]
chalice = "*"
pipenv-to-requirements = "*"
boto3 = "*"
awscli = "*"
httpie = "*"
pytest-cov = "*"

[pipenv]
allow_prereleases = true
