[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pytest = "*"
pylint = "*"
flake8 = "*"

[packages]
bullet = "*"
chalice = "*"
pipenv-to-requirements = "*"
boto3 = "*"
awscli = "*"

[pipenv]
allow_prereleases = true
